.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container {
  border: 2px solid black;
  width: 30rem;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}